﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory Parser";
}

<div class="text-center">
    <h1 class="display-4">Inventory Parser</h1>
    <form method="post">
        <textarea cols="150" rows="15" asp-for="InventoryCsv"></textarea>
        <button type="submit">Parse</button>
    </form>
    @if(Model.Inventory != null)
    {
        <p class="mt-3">
            @foreach (var werehouse in Model.Inventory.WerehouseListDefaultOrder)
            {
               <span>@werehouse.Id (total @werehouse.ItemCount)</span>
               <br />
               @foreach (var item in werehouse.ItemsDefaultOrder)
               {
                    <span>@item.Id: @item.Count</span>
                    <br />
               }
               <br />
            }
        </p>
    }
</div>
